/* AcademicPages Theme - Minimal Mistakes Fork */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
}

@media (min-width: 48em) {
  html { font-size: 18px; }
}

body {
  margin: 0;
  padding: 70px 0 0;
  padding-bottom: 9em;
  color: #494e52;
  font-family: -apple-system, "SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  line-height: 1.5;
}

::selection {
  color: #fff;
  background: #000;
}

a {
  color: #52adc8;
  text-decoration: none;
}

a:hover {
  outline: 0;
  color: #3e8296;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-weight: bold;
}

h1 { margin-top: 0; font-size: 1.563em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1em; }

p {
  margin-bottom: 1.3em;
}

pre {
  overflow-x: auto;
  background-color: #fafafa;
  padding: 1em;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
}

code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.75em;
}

p > code, a > code, li > code {
  padding: 0.1rem 0.2rem;
  background: #fafafa;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
}

img[align="left"] {
  margin-right: 1em;
}

img[align="right"] {
  margin-left: 1em;
}

figure {
  margin: 2em 0;
}

figure img {
  width: 100%;
  border-radius: 4px;
}

figcaption {
  margin-top: 0.5em;
  color: #777a7d;
  font-family: Georgia, Times, serif;
  font-size: 0.75em;
}

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #f2f3f3;
}

ul, ol {
  margin-bottom: 1.3em;
}

li {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid #7a8288;
}

table {
  margin-bottom: 1em;
  width: 100%;
  font-size: 0.75em;
  border-collapse: collapse;
  border: 1px solid #bdc1c4;
}

thead {
  background-color: #f2f3f3;
  border-bottom: 1px solid #bdc1c4;
}

th, td {
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid #bdc1c4;
  border-right: 1px solid #bdc1c4;
}

/* Masthead */
.masthead {
  position: fixed;
  background: white;
  border-bottom: 1px solid #f2f3f3;
  height: 70px;
  top: 0;
  width: 100%;
  z-index: 20;
}

.masthead__inner-wrap {
  max-width: 925px;
  margin: 0 auto;
  padding: 1em;
}

@media (min-width: 80em) {
  .masthead__inner-wrap { max-width: 1280px; }
}

.greedy-nav {
  position: relative;
  min-width: 250px;
  background: #fff;
}

.greedy-nav a {
  display: block;
  margin: 0 1rem;
  padding: 0.5rem 0;
  color: #7a8288;
  text-decoration: none;
}

.greedy-nav a:hover {
  color: #5c6266;
}

.greedy-nav button {
  position: absolute;
  height: 2.5rem;
  right: 0;
  padding: 0 0.5rem;
  border: 0;
  outline: none;
  background-color: #7a8288;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.greedy-nav .visible-links {
  display: table;
}

.greedy-nav .visible-links li {
  display: table-cell;
  vertical-align: middle;
}

.greedy-nav .visible-links li:first-child {
  font-weight: bold;
}

.greedy-nav .visible-links li:first-child a {
  margin-left: 0;
}

.greedy-nav .visible-links li:last-child a {
  margin-right: 0;
}

.greedy-nav .hidden-links {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.greedy-nav .hidden-links.hidden {
  display: none;
}

.navicon {
  position: relative;
  width: 28px;
  height: 4px;
  background: #fff;
  margin: auto;
}

/* Main Layout */
#main {
  max-width: 925px;
  margin: 2em auto 0;
  padding: 0 1em;
}

@media (min-width: 80em) {
  #main { max-width: 1280px; }
}

@media (min-width: 57.8125em) {
  .page {
    width: 83.0508474576%;
    float: right;
    margin-right: 0;
    padding-left: 4.2372881356%;
    padding-right: 16.9491525424%;
  }
}

.page__inner-wrap {
  clear: both;
  width: 100%;
  float: left;
}

.page__title {
  margin-top: 0;
  line-height: 1;
}

.page__content h2 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f2f3f3;
}

.page__content p {
  font-size: 1em;
  margin: 0 0 1.3em;
}

.page__content a {
  text-decoration: underline;
}

.page__meta {
  margin-top: 2em;
  color: #9ba1a6;
  font-size: 0.75em;
}

/* Sidebar */
.sidebar {
  clear: both;
  margin-bottom: 1em;
}

@media screen and (min-width: 1024px) {
  .sidebar {
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    padding-top: 70px;
  }
}

@media (min-width: 57.8125em) {
  .sidebar {
    width: 15.2542372881%;
    float: left;
    margin-right: 1.6949152542%;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
}

@media (min-width: 80em) {
  .sidebar {
    max-width: 250px;
    padding-right: 0;
  }
}

.author__avatar {
  display: block;
  width: auto;
  height: auto;
}

.author__avatar img {
  max-width: 175px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #f2f3f3;
}

.author__content {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.author__name {
  margin: 10px 0;
  font-size: 1em;
}

.author__bio {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.75em;
}

.author__urls-wrapper {
  display: block;
  position: relative;
}

.author__urls {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  list-style: none;
}

.author__urls li {
  margin-bottom: 0.25em;
}

.author__urls a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 0.75em;
}

.author__urls a:hover {
  text-decoration: underline;
}

.author__desktop {
  display: block;
}

@media screen and (max-width: 1023px) {
  .author__desktop { display: none; }
}

.icon-pad-right {
  padding-right: 0.5em;
}

/* Archive */
.archive {
  margin-bottom: 2em;
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-size: 1.1em;
}

.archive__item-title a {
  text-decoration: none;
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: 0.75em;
}

.list__item {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #f2f3f3;
}

/* Post styles */
.post {
  margin-bottom: 2em;
}

.post__title {
  margin-top: 0;
  font-size: 1.563em;
}

.post__meta {
  color: #9ba1a6;
  font-size: 0.75em;
  margin-bottom: 2em;
}

.post__content h2 {
  margin-top: 1.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f2f3f3;
}

.post__content h3 {
  margin-top: 1.5em;
}

.post-categories {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #f2f3f3;
  font-size: 0.75em;
}

.label {
  background-color: #f2f3f3;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  font-size: 0.8em;
  margin-right: 0.5em;
}

/* Footer */
.page__footer {
  clear: both;
  float: left;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 3em;
  color: #9ba1a6;
  background-color: #f2f3f3;
  border-top: 1px solid #bdc1c4;
}

.page__footer footer {
  margin: 2em auto 0;
  max-width: 100%;
  padding: 0 1em 2em;
}

@media (min-width: 80em) {
  .page__footer footer { max-width: 1280px; }
}

.page__footer-copyright {
  font-size: 0.6875em;
}

/* Sticky sidebar */
.sticky {
  clear: both;
  position: sticky;
  top: 2em;
}

/* Responsive */
@media (max-width: 57.8125em) {
  #main {
    flex-direction: column;
  }
  
  .sidebar {
    width: 100%;
    position: relative;
    padding-top: 0;
  }
  
  .page {
    width: 100%;
    float: none;
    padding: 0;
  }
}

/* Images */
.post__content img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  width: auto;
  display: block;
  margin: 1em 0;
  border-radius: 4px;
}

.page__content img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  width: auto;
  display: block;
  margin: 1em 0;
  border-radius: 4px;
}

/* Code blocks */
.highlight {
  margin: 2em 0;
  padding: 1em;
  background-color: #fafafa;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  overflow-x: auto;
}

.highlight pre {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

/* Buttons */
.btn {
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  color: #fff !important;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #7a8288;
  border: 0 !important;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
}

.btn--inverse {
  color: #7a8288 !important;
  border: 1px solid #bdc1c4 !important;
  background-color: #fff;
}

.btn--inverse:hover {
  color: #fff !important;
  border-color: #7a8288;
}

/* Social icons */
.social-icons .fa {
  color: #000;
}

.social-icons .fa-linkedin {
  color: #007bb6;
}

.social-icons .fa-x-twitter,
.social-icons .fa-twitter {
  color: #55acee;
}
