---
layout: default
---

<article class="page" itemscope itemtype="http://schema.org/CreativeWork">
  <meta itemprop="headline" content="{{ page.title }}">
  <meta itemprop="description" content="{{ page.description }}">
  
  <div class="page__inner-wrap">
    <header>
      <h1 class="page__title" itemprop="headline">{{ page.title }}</h1>
      {% if page.date %}
        <p class="page__meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
      {% endif %}
    </header>

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>

    <footer class="page__meta">
      {% if page.categories %}
        <p class="page__meta-categories">
          <i class="fas fa-folder"></i>
          {% for category in page.categories %}
            <span class="label">{{ category }}</span>
          {% endfor %}
        </p>
      {% endif %}
    </footer>
  </div>
</article>
